*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #fef5ec;
    font-family:cursive;
}
.sidebar{
    width: 250px;
    
    background-color:#102C57;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    padding: 15px;
}

.sidebar-nav{
    background-color: #fef5ec;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
    height: 200px;
}

.sidebar-nav {
    justify-content: center;
    align-items: center;
    
}

.sidebar-nav h2{
    color: #102C57;
    text-align: center;
    padding-top: 47px;
}


.sidebar-nav ul{
    list-style: none;
}

.sidebar-nav ul li{
    list-style: none;
}

.sidebar-nav ul li a{
    text-decoration: dashed;
    color: #102C57;
    font-size: 20px;
    font-weight: 150px;
}

.sidebar-nav ul li a span img{
    width: 15px;
    color: white;
}



.Set-My-Password{
    background-color:#102C57;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top:3px;
    height: 80px;
}
.Upload-My-Photo{
    background-color:#102C57;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    height: 80px;
}

.Organisation-calender{
    background-color:#102C57;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    height: 80px;
}
.Sem-Feedback{
    background-color:#102C57;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    height: 80px;
}
.sidebar-scroll{
    height: 250px;
    overflow-y: auto;
}

.sidebar-scroll::-webkit-scrollbar{
    background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb{
    width:3px;
    background:transparent;
    border-radius: 50px;
}
.sidebar-scroll:hover::-webkit-scrollbar-thumb{
    width: 3px;
    background:#201E43;
    border-radius: 6px;
}

.Organisation-calender h4{
    color:#fef5ec;
    text-align: center;
}

.Set-My-Password h4{
    color: #fef5ec;
    text-align: center;
}

.Upload-My-Photo h4{
    color: #fef5ec;
    text-align: center;
}

.Sem-Feedback h4{
    color: #fef5ec;
    text-align: center;
    
}

.box2{
    height: 300px;
    
}

.box2 h3{
    color: #102C57;
    text-align: center;
    padding: 10px;
}

.language{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.language button{
    padding: 8px;
    background-color: transparent;
    color: #102C57;
    border-radius: 7.5px;
    outline: none;
    border: 0;
    border: 1px solid #102C57;
}


.sidebar-nav .box2{
    padding: 50px;
}

/*alo*/

.main-section{
    margin-left: 280px;
    background: #2a2851;
}
.main {
    width: 100%;
  
    background: linear-gradient(
        to top,
        ☐ rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0.5) 50%
      ),
      url(1.jpg);
  
    background-position: center;
  
    background-size: cover;
  
    height: 109vh;
}

.navbar {
    width: 1200px;
  
    height: 1000px;
    margin: 100px;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

  
.menu {
    width: 400px;
    height: 70px;
    float: left;
    position: absolute;
    top: 10px;
}
.menu ul {
    float: left;
    justify-content: center;
    display: flex;
    align-items: center;
  }
.menu ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

.menu ul li a {
    text-decoration: none;
    color: #102C57;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
  
ul li a {
    text-decoration: none;
    color: #102C57;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
  ul li a:hover {
    color: #DAC0A3;
  }
.search {
    width: 0px;
    float: left;
    margin-left: 500px;
    margin-top: 12px;
    
}

.srch {
    font-family: "Times New Roman", Times, serif;
    width: 550px;
    height: 40px;
    background: transparent;
    border: 1px solid #102C57;
    margin-top: 13px;
    color: #102C57;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn {
    width: 100px;
    height: 40px;
    background: #102C57;
    border: 2px solid #102C57;
    margin-top: 13px;
    color: #FEFAF6;
    font-size: 16px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

    
}
 .btn:focus {
    outline: none;
}
.btn:hover {
    background-color: #DAC0A3;
    color: #FEFAF6;;
    border-color: #DAC0A3;
}
.srch:focus {
    outline: none;
}
.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #102C57;
    
    position: absolute;
    top: 100px;
}
.content .p {
    padding-left: 57px;
    padding-bottom: 25px;
    padding-right: 700px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
    justify-content: center;
}
.content h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
  
.content .cn {
    width: 160px;
    height: 40px;
    background: #102C57;
    border: none;
    margin-bottom: 10px;
    margin-left: 60px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}
.content .cn a {
    text-decoration: none;
    color: #FEFAF6;
    transition: 0.3s ease;
}
  
.cn:hover {
    background-color: #DAC0A3;
    
}


content span {
    color: #102C57;
    font-size: 60px;
}
.form {
    margin-top: 80px;
    margin-left: 90px;
    width: 300px;
    height: 380px;
    background: linear-gradient(
      to top,
      #102c57f1 50%,
      #102c57f1 50%
    );
    position: absolute;
    top: 20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}
.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #DAC0A3;
    font-size: 22px;
    background-color: #102C57;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
  
.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #DAC0A3;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #FEFAF6;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
  .form input:focus {
    outline: none;
}
::placeholder {
    color: #FEFAF6;
    font-family: Arial;
}
.btnn {
    width: 240px;
    height: 40px;
    background: #DAC0A3;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 10px;
}
.btnn:hover {
    background-color: #102C57;
    color: #FEFAF6;
}
.btnn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color: #fff;
}
  
.form .link a {
    text-decoration: none;
    color: #DAC0A3;
}
.log-in-with {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 15px;
    text-align: center;
    color: #fff;
}
/*.icons {
    text-align: center;
    margin-top: 20px;
}
  
.icons a {
    text-decoration: none;
    color: #fff;
}
  
.icons ion-icon {
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
  
.icons ion-icon:hover {
    color: #ff7720;
}
  */


  @media screen and (max-width: 1200px) {
    .navbar {
      width: 100%;
      height: 100px;
    }
  
    .icon {
      width: 100%;
      text-align: center;
    }
  
    .menu {
      width: 100%;
    }
  
    ul {
      margin-top: 10px;
    }
  
    .search {
      width: 100%;
      margin-left: 0;
    }
  
    .srch {
      width: 70%;
    }
  
    .btn {
      width: 30%;
    }
  
    .content {
      width: 100%;
    }
  
    .form {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  
  @media screen and (max-width: 768px) {
    .sidebar {
      width:100%;
      position:static;
      height: auto;
    }
    .main-section{
      margin-left: 0;
      padding-left: 15px;
    }
  
    .content .cn {
      width: 140px;
      height: 35px;
      font-size: 16px;
    }
  
    .form {
      width: 80%;
      max-width: 300px;
    }
  }



/*nid*/

.mid-section-two{
    padding-left: 340px;
    padding-top: 500px;
    
}
/*Mentor info */
.container {
    display: flex;
  }
  
  .idk {
    flex: 1;
  }
.mid-section .card .idk{
    min-width: 140px;
    width: 200px;
    background-color: #102C57;
    cursor: pointer;
    border-radius: 8px;
    padding: 5.5px;

}
.mid-section .card  h4{
    color: #DAC0A3;
}
.mid-section .card .item img{
    min-width: 140px;
    width: 190px;
    height: 100%;
    background-color: #102C57;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 0 20px 2px rgba(0 ,0 ,0 ,.1);
    display: block;
    transition: 1s;
}
.mid-section-two .card .item .slot-btn{
    
    background: #102C57;
    border: none;
    border-radius: 10px;
    padding: 15px 15px;
}
.card .idk .h4{
    text-align: center;
}
.sbt {
    height: 30px;
    width: 189px;
    background: #DAC0A3;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 10px;
}

.container{
    display:grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
}

.item {
    position: relative;
    overflow: hidden;
  }
  
  .item > img:hover {
    display: block;
    width: 100%;
    height: 10px;
    object-fit: cover;
    object-position: center;
    padding: 20px;
    border-radius: 10px;
  }
  
  .item > .content {
    position: absolute;
    inset: 0;
    font-size: 13.5px;
    padding: 5px 5px;
    background: rgba(255, 255, 255, .4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .item > img,
  .item > .content {
    transition: 300ms ease-in-out;
    border-radius: 10px;
    margin-bottom: 6px;
  }
  
  .item:hover > img.blur {
    filter: blur(5px);
    border-radius: 10px;
  }
  
  .item:hover > img.gray {
    filter: grayscale(1);
    border-radius: 10px;
  }
  
  .item:hover > img.zoom {
    transform: scale(1.1);
  }
  
  .item > .content.fade {
    opacity: 0;
  }
  .item:hover > .content.fade .ul .li{
    opacity: 1;
  }

  .item:hover .content {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; 
  }
  
  /*.item > .content.slide-left {
    transform: translateX(-100%);
  }
  .item:hover > .content.slide-left {
    transform: translateX(0);
  }
  
  .item > .content.slide-right {
    transform: translateX(100%);
  }
  .item:hover > .content.slide-right {
    transform: translateX(0);
  }
  
  .item > .content.slide-down {
    transform: translateY(-100%);
  }
  .item:hover > .content.slide-down {
    transform: translateY(0);
  }
  
  .item > .content.slide-up {
    transform: translateY(100%);
  }
  .item:hover > .content.slide-up {
    transform: translateY(0);
  }*/

  /* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .show {display:block;}